@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.animated {
  animation: animation 50s cubic-bezier(0.2, 0, 0.8, 1) infinite;
}

.gradient-bg {
  background-size: 1000%;
  background-image: linear-gradient(
    35deg,
    #e9a5a5,
    #b8c1c0,
    #65c0e0,
    #aea2db,
    #81c1d9,
    #b3b6eb,
    #e98a98,
    #c82270
  );
  /* background-image: linear-gradient(135deg, #ff0000, #00ff00); */
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s easeOutCubic;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s easeInCubic;
}

.fade-in-slow {
  opacity: 1;
  transition: opacity 2s easeInSine;
}

[contenteditable] {
  outline: 0px solid transparent;
}
